@{
    ViewData["Title"] = "Home Page";
}

<section class="catalog-hero">
    <h1 class="catalog-title">Catálogo Express</h1>
    <p class="catalog-subtitle">Seleccioná un producto para ver el detalle.</p>
</section>

<section class="product-grid">
@foreach (Producto ite in ViewBag.Productos)
{
 <li>@ite.ObtenerNombre() - @ite.ObtenerPrecio() </li>
 <a href= '@Url.Action("Detalle","ite", new { nombre = ite.ObtenerNombre()})' alt="Dar Detalles" > aaa</a>
}git 
    @*  
    TODO:
       - Recorrer la lista de productos (ej: Model)!
       - Por cada uno mostrar su nombre y precio
       - En cada producto agregar un link al detalle (ej: @Url.Action("Detalle","Productos", new { nombre = producto.ObtenerNombre() }))
    *@
</section>